.header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: fit-content;
  font-family: 'Inria Sans', sans-serif;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 1140px;
}


.logo img {
  height: 60px;
  display: block;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'Inria Sans', sans-serif;
}

.nav a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 2px solid #e83561;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: #e83561;
  font-size: 14px;
  transition: background 0.3s, color 0.3s;
}

.social-icons a:hover {
  background: #e83561;
  color: #fff;
  cursor: pointer;
}