.karta-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  
  width: 1532px;
  height: 450.43px;
  
  padding: 50px 50px 50px 36px;
  gap: 24px;
  
  background: linear-gradient(
    90deg,
    rgba(231, 42, 84, 0.8) 16.83%,
    rgba(36, 97, 64, 0.2) 100%
  );
  
  border-radius: 36px;
  
  box-shadow:
    0px 30px 60px -30px rgba(139, 50, 70, 0.3),
    0px 50px 100px -20px rgba(139, 50, 70, 0.25);
  
  box-sizing: border-box;
}

.karta-left {
  background: #fff;
  border-radius: 36px;
  padding: 26px;
  width: 400px;
  height: 400.09px;
  margin-left: 70px; 
  .karta-left {
  margin-top: 40px; 
}

  
  display: flex;
  flex-direction: column;
  
  box-shadow:
    0px 30px 60px -30px rgba(139, 50, 70, 0.3),
    0px 50px 100px -20px rgba(139, 50, 70, 0.25);
  
  box-sizing: border-box;
  color: #111;
}

.karta-small-text {
  font-size: 10px;
  font-weight: 700;
  color: #db3a57;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.karta-title {
  font-family: 'Public Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.2;
}

.karta-description {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(121, 121, 121, 1);
  margin-bottom: 24px;
}

.karta-btn {
  background-color: #db3a57;
  border: none;
  color: white;
  padding: 14px 28px;
  border-radius: 24px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease;
}

.karta-btn:hover {
  background-color: #a02a3e;
}

.karta-right {
  width: 860px; /* примерно оставшееся место */
  height: 450px;
  background: url("/public/images/main_football_map.png") no-repeat center center;
  background-size: contain;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(219, 58, 87, 0.2);
}
